* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1.1vw;
}
/* stile header  */
header {
    background-color: white;
    width: 100%;
    position: fixed;
}
header::after {
    content: "";
    clear: both;
    display: table;

}
/* stile logo  */
#logo {
    display: inline;
    float: left;
    margin: 20px;
}
/* stile nav  */
nav ul li {
    display: inline-block;
    margin: 25px 20px;
}
#prima-nav {
    float: left;
}
#seconda-nav {
    float: right;
}
#inizia {
    color: white;
    background-color: rgb(3, 134, 241);
    padding: 5px 20px;
    margin: 20px 20px;
}
/* stile jumbotron */
#jumbotron {
    background-color: rgb(136, 189, 201);
    width: 100%;
    height: fit-content;
}
/* stile contenuto/titolo */
.larg-jumbo {
    width: 80%;
    margin: auto;
}
h1 {
    font-size: 5.3vw;
    padding-top: 150px;
}
/* stile testo */
.text-jumbo {
    width: 30%;
    margin-top: 40px;
    font-size: 1.1vw;
    margin-bottom: 10px;
    padding-bottom: 15%;
}
#btn-jumbo {
    background-color: rgb(3, 134, 241);
    color: white;
    background-size: auto;
    width: fit-content;
    padding: 5px 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#img-jumbo {
    transform: scale(0.5);
    display: inline;
}
/* stile main */
main {
    width: 70%;
    margin: auto;
    margin-top: 100px;
    /* debug */
    background-color: blueviolet;
    height: 2500px;
}
/* stile prima sezione */
h2 {
    font-size: 2vw;
    margin-bottom: 50px;
}
.btn-radio {
    display: inline-block;
    margin-left: 10px;
}
.text-radio {
    display: inline-block;  
}
/* stile dei piani */
#plans {
    width: 100%;
    margin-top: 5%;
    /* debug */
    /* height: 1500px; */
    /* background-color: blanchedalmond; */
}
#plans::after {
    content: "";
    clear: both;
    display: table;
}
#plans .sezioni {
    float: left;
    width: 31.5%;
    margin-right: 1%;
    border: 1px solid grey;
    /* height: 75%;
    background-color: rgb(80, 196, 231); */
}

/* stile del testo dentro i piani */
.title-plans {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid grey;
}
.text-plans {
    padding: 30px;
}
.text-plans > * {
    padding: 10px;
}
.mese {
    color: grey;
    margin-bottom: 30px;
}
.link-prova {
    background-color: rgb(80, 196, 231);
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.text-plans hr {
    width: 30%;
    margin-top: 25px;
}
.text-plans h4 {
    margin-top: 30px;
}
ul {
    list-style: none;
}
.text-plans div ul li {
    margin: 15px 0 0 0;
}
.checkmark {
    color: rgb(80, 196, 231);
}
#plans #inferiore {
    border: 1px solid grey;
    margin-right: 1%;
    margin-top: 2%;
    width: 97%;
    height: 20%;
    float: left;
}
#inferiore::after {
    content: "";
    display: table;
    clear: both;
}
#partesx {
    float: left;
    width: 70%;
}
#cont-ufficio {
    float: left;
    width: 30%;
}
#btn-cont-ufficio {
    margin-top: 7px;
    padding: 10px;
}

/* stile seconda sezione  */
#seconda-sezione {
    margin-top: 10%;
}
#seconda-sezione::after {
    content: "";
    display: table;
    clear: both;
}
#seconda-sezione > div {
    width: 49%;
    /* debug */
    /* background-color: brown; */
}
img {
    max-width: 100%;
    max-height: 100%;
}
.partedx, .partesx {
    float: left;
}
#seconda-sezione #btn-trovapartner {
    background-color: white;
    width: fit-content;
    border: 2px solid black;
}